// Variables

//Dark Theme Color
$dark-background-primary-color: #222B45;
$dark-background-secondary-color: #1A2138;
$dark-foreground-primary-color: #EEEEEF;
$dark-foreground-secondary-color: #AEB0B4;
$dark-shadow-color: 0, 0, 0;
$dark-theme-toggler-ripple-color: 255, 225, 2;

//Light Theme Color
$light-background-primary-color: #FFFFFF;
$light-background-secondary-color: #F7F9FC;
$light-foreground-primary-color: #2D3748;
$light-foreground-secondary-color: #646E73;
$light-shadow-color: 140, 152, 164;
$light-theme-toggler-ripple-color: 0, 171, 85;

//Colors
$green : #00AA55;
$blue : #1976D2;
$purple : #7B1FA2;
$red : #C2185B;
$orange : #F57C00;